/*CSS Basics summarised here
https://javabeginners.de/Frameworks/JavaFX/Layout/JavaFX_mit_Stylesheets.php

CSS - Cascading Style Sheets (CSS)

Selector-1 [,[selector-2 ], ...]{
    Property-1: Value-1;
    ---
    Property-n: Value-n [;]
}

Possible selectors are type-selector, a CSS-class, or an ID or combinations of these

Example for type-selector (?)
Label {
    -fx-background-color: #f31100;
}

Example for CSS-class aka style class (?)
.styleclass{
...
}
.grid-pane {
    -fx-alignment: center;
    -fx-grid-lines-visible: true;
    -fx-hgap: 15;
    -fx-vgap: 15;
}

Example for ID (?)
#rechts-unten {
    -fx-font-family:'serif';
    -fx-font-size:30;
}


*/



/* Base */
.root {
    -fx-background-color: #05317f;
    -fx-font-family: "Verdana", "Inter", sans-serif;
}

/* Titles */
.title-label {
-fx-text-fill:  fefefe;
-fx-font-size: 40px;
-fx-font-weight: 900;
}

/* text */
.text-style{
-fx-text-fill: fefefe;
-fx-font-size: 12px;
}

/* TableView fx:id = "table" */
.table-view {
    -fx-background-color: #c3cee0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-radius: 6 6 6 6; /* outer radius */
}

.table-view .column-header {
    -fx-background-color:     #c3cee0;
    -fx-text-fill: #05317f;
    -fx-border-color: transparent;
     -fx-background-radius: 6 6 0 0; /* round top-left & top-right corners */
}

.table-view .column-header-background {
        -fx-background-color:      #c3cee0;
        -fx-background-insets: 0;
        -fx-background-radius: 6 6 0 0; /* round top-left & top-right only */
}

.table-view .column-header .label {
    -fx-background-color:      #c3cee0;
    -fx-text-fill: #05317f;
}

.table-view .column-header-background .corner{
    -fx-background-color:   #c3cee0;
    -fx-background-radius: 6 6 0 0;
}

/* Rows */
.table-view .virtual-flow {
    -fx-background-radius: 0 0 6 6; /* round bottom corners */
}

.table-view .filler {
    -fx-background-color:   #c3cee0;
    -fx-background-radius: 6 6 6 6;
}

.table-row-cell:selected {
    -fx-background-color: red;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: #e5eaf1;
  }

.table-row-cell:even {
    -fx-background-color: #fefefe;

}

.table-row-cell:last-child {
     -fx-background-radius: 0 0 6 6; /* bottom-left and bottom-right */
 }

table-style{
    -fx-background-color: #fefefe;
    -fx-border-color: #05317f;
    -fx-font-size: 12px;
    -fx-background-radius: 6 6 6 6;
}

.table-view .table-cell {
    -fx-text-fill: #05317f;
    -fx-background-color: transparent;
}



/* Buttons */
.button {
    -fx-background-radius: 6;
    -fx-padding: 8 18;
    -fx-font-size: 13px;
    -fx-text-fill: #05317f;
}

/* ChoiceBox */
.choice-box .label {
    -fx-text-fill: #05317f;
    -fx-font-size: 12px;
    -fx-border-color: #fefefe;
    -fx-background-color: #fefefe;
}
.choice-box .menu-item:focused {
    -fx-background-color: #05317f;
}
.choice-box .menu-item:focused .label {
    -fx-text-fill: #05317f;
}

